/* .navBar{
    background-color: #F89822;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
  height: 94px;
}
li a{
    display: block;
    color: white;
    text-align: center;
    text-decoration: nones;
}
button{
    background-color: rgb(255, 255, 255);
    color: #F89822;
    font-size: 14px;
    border: none;
    border-radius: 77px;
    height: 40px;
    width: 147px;
} */